/* Site
   -------------------------------- */

body {
	font-family: "Trebuchet MS","Helvetica","Arial","Verdana","sans-serif";
	width: 100%;
	overflow: auto;
}

select { 
	width: 200px;
}


/* Main
   -------------------------------- */

div#head {
	margin: 5px;
	padding: 10px 10px 15px 10px;
}

div#div_select_lang {
	float:right;
}

#page {
  margin: 0 auto 0 auto;
  width: 950;
}

#page h3 { 
	margin: .3em 0 .3em 0; 
	padding: 0.4em; 
	text-align: center; 
}

.section {
  width: 300px;
  margin-right:10px;
}

#footer {
  height: 100px;
}

.marginal {
  float: left;
}

.selectable {
	font-size: .9em;
	margin: 3px;
	padding: 2px;
	text-align: center;
	width: auto;
	height: auto;
	overflow: auto;
}

.selectable:HOVER {
	color: #FFF;
	cursor: pointer;
	background-color: #E69700;
	background-image: url();	
}

.button { 
	padding: .5em 1em; 
	text-decoration: none; 
}

.button_customizeResource {
	width: 26px;
	height: 26px;
}

.action {
	margin: 5px;
	padding: 7px;
	width: 100%;
	text-align: center;
}

div.detailBox {
	font-size: .7em;
	overflow: auto
}

div.attributes {
	float: left; 
	text-align: left; 
	width: 120px;
	margin:5px;
	height: 26px;
}

label.attributes {
	float: left; 
	text-align: left; 
	width: 60px;
	margin:5px;
}

div.selectBox {
	overflow: hidden;
}

div.container {
	margin: 5px 0 5px 0;
	padding: 4px 0 0 0;
}

div#div_select_lang {
	padding-bottom: 10px;
}

.button_delete {
	height: 26px;
}

.comboBox {
	width: 122px;  
	border-right:none'
}

.divAttr{
	overflow:hidden; 
	width:100%;
}

/* jGrowl
   -------------------------------- */

