/* Site
   -------------------------------- */

/* =Reset default browser CSS. */
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, samp, small, span, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* =Font Replacement
-------------------------------------------------------------- */

/* =Standard HTML Tag Definition */
body, form, input, button, select, textarea, label {
	font-family: Arial, sans-serif, Helvetica;
	font-size: 12px;
	color: #000000;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #ffffff;
}

/* Custom Classes */
.clear {
	clear: both;
}

select { 
	width: 200px;
}
/* Main
   -------------------------------- */

div#head {
	padding: 10px 10px 15px 10px;
	margin-top: 10px;
}

div#div_select_lang {
	float:right;
}

#page {
  margin: 0 auto 0 auto;
  width: 941px;
}

#page h3 { 
	margin: .3em 0 .3em 0; 
	padding: 0.4em; 
	text-align: center; 
}

#container{
	overflow: auto;
	width: 1px;
}

#main {
	width: 941px;
	overflow: auto;
    padding:4px 0 135px 0;
}

#jspContainer{
	overflow: auto;
}


.section {
  margin:0 5px 10px 5px;
  text-align:center;
  float: left;
  width: 310px;
  display: block;
}

#footer {
  height: 100px;
}


.selectable {
	margin: 3px;
	padding: 2px;
	text-align: center;
	overflow: auto;
}

.selectable:HOVER {
	color: #FFF;
	cursor: pointer;
	background-color: #E69700;
	background-image: url();	
}

.button { 
	padding: .5em 1em; 
	text-decoration: none; 
}

.button_customizeResource {
	width: 26px;
	height: 26px;
}

.action {
	margin: 5px;
	padding: 7px;
	width: 100%;
	text-align: center;
}

div.detailBox {
	overflow: auto;
}

div.attributes {
	float: left; 
	text-align: left; 
	width: 120px;
	margin:5px;
	height: 26px;
}

label.attributes {
	float: left; 
	text-align: left; 
	width: 60px;
	margin:5px;
}

div.selectBox {
	overflow: hidden;
}

div.container {
	margin: 5px 0 5px 0;
	padding: 4px 0 0 0;
}

div#div_select_lang {
	padding-bottom: 10px;
}

.button_delete {
	height: 26px;
}

.comboBox {
	width: 122px;  
	border-right:none;
	color: #ffffff;
}

.comboBoxMenu {
	font-weight: normal;
}

.ui-state-default.comboBoxButton{
	border-left: none;
	height: 20px;
}

.divAttr{
	overflow:hidden; 
	width:100%;
}

.inputLink {
}

div#div_createResourceContainer {
	width: 941px;
}



/* jGrowl
   -------------------------------- */

div.jGrowl div.error {
	background: 			white;
	color:					red;
	border-color: 			red;
}